$color-palette: (
    'grey': #dadce0,
    'pink': #dd4075,
    'black': #000,
    'white': #fff
);

$darken-range: (
    'high': 30%,
    'medium': 20%,
    'low': 10%
);

$font-family: 'Source Sans Pro', sans-serif;